@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
body {
  background-color: #3498db;
  width: 90%;
  margin: auto;
}
h2 {
  margin: 10px 0px;
  text-align: center;
  color: white;
  font-size: 28px;
}
.upper {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  padding: 10px;
}
ul {
  list-style: none;
}
#rules {
  font-weight: bold;
}
ul li {
  font-size: 18px;
}
#guessValue {
  font-size: 16px;
  height: 24px;
  padding: 2px 5px;
}
#hint {
  margin: 5px 0px;
}
.btn {
  background-color: black;
  color: white;
  font-size: 17px;
  padding: 2px 8px;
  margin: 2px 5px;
}
